<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101744859560-m9obv273i1s2nuclkibp3se49gm77afi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101744859560-m9obv273i1s2nuclkibp3se49gm77afi</string>
	<key>API_KEY</key>
	<string>AIzaSyCdo0mfScVyahxtgZ_RwQYNJC5JHhfjJ0E</string>
	<key>GCM_SENDER_ID</key>
	<string>101744859560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-573eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-573eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101744859560:ios:49a3bc515ce290e416659d</string>
</dict>
</plist>